<h1>Listing Videos</h1>

<%= link_to 'New Video', new_video_path %>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @videos.each do |video| %>
		<tr>
			<td><%= video.title %></td>
			<td><%= video.text %></td>
			<td><%= link_to 'Show', video_path(video) %></td>
		</tr>
	<% end %>
</table>

